/*---------------------------------------
 *   WS Pagination CSS Start for elements
 *--------------------------------------*/
.ws--pagination {
  .page-item {
    padding: 0 20px;
    border-bottom: 1px solid var(--border-color);
    .page-link {
      font-size: 14px;
      color: var(--text-color-light);
      border: 0;
      margin-bottom: 10px;
      background-color: transparent;
      svg {
        width: 6px;
        height: 10px;
        vertical-align: -1px;
      }
      &:hover {
        background-color: transparent;
        color: var(--heading-color) !important;
      }
      &:focus {
        font-size: 16px;
        color: var(--heading-color) !important;
        background-color: transparent;
        outline: 0;
        box-shadow: none;
        border-bottom: 1px solid var(--heading-color);
      }
    }
    &.disabled {
      .page-link {
        background-color: transparent;
      }
    }
    &.is-active {
      .page-link {
        color: var(--heading-color);
      }
      color: var(--heading-color);
      border-bottom-color: var(--heading-color);
      box-shadow: 0 -2px var(--heading-color) inset;
    }
  }
}
