/**
 * ----------------------------------------------------------------------------
 * Password Header
 * ----------------------------------------------------------------------------
 */
.ws--password-header {
  padding: 25px 0px;
  position: relative;
  text-align: center;
  .ws--password-lock-action {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

.modal {
  background: var(--background);
  .modal-dialog {
    display: flex;
    align-items: center;
    height: 90%;
    .ws--password-content {
      .ws--password-card {
        text-align: center;
        padding: 45px 60px 50px;
        .ws--form {
          margin-top: 28px;
          .ws--form-group {
            display: flex;
            gap: 5px;
            .ws--input-item {
              margin-bottom: 0;
              input {
                &::placeholder {
                  font-size: 15px;
                  letter-spacing: 1px;
                  color: #6a6a6a;
                }
              }
            }
          }
        }
      }
      .ws--password-close-btn {
        position: fixed;
        top: 10px;
        right: 40px;
        button {
          font-size: 40px;
          color: var(--link-color);
        }
      }
    }
  }
}

/**
 * ----------------------------------------------------------------------------
 * Password Footer
 * ----------------------------------------------------------------------------
 */
.ws--password-footer {
  text-align: center;
  padding: 40px;
  border: none;
  .ws--password-powered-by {
    margin-bottom: 10px;
    svg {
      width: 70px;
      height: 20px;
      margin-left: 2px;
    }
  }
  .ws--password-admin-link {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}
