.container {
  &.ws--container-mobile {
    max-width: 100%;
    padding: 0 40px !important;
  }
}

.ws--product-wrapper {
  &.ws--product-small {
    .ws--media-wrapper {
      .ws--slider-media {
        max-width: 500px;
      }
    }
  }
  &.ws--product-medium {
    .ws--media-wrapper {
      .ws--slider-media {
        max-width: 650px;
      }
    }
  }
  &.ws--sticky-section {
    .ws--media-wrapper {
      .ws--thumbnail-media {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1;
        position: sticky;
        top: 87px;
      }
    }
    .ws--product-info {
      position: sticky;
      top: 87px;
      bottom: 0;
    }
  }
  .ws--media-wrapper {
    @include devices(desktop) {
      display: flex;
    }
    margin-bottom: 28px;
    @include devices(tabletUp) {
      margin-bottom: 65px;
    }
    .ws--thumbnail-media {
      @include devices(desktopmax) {
        display: none !important;
      }
      width: 70px;
      flex: 1 0 auto;
      flex-grow: 0;
      margin-top: 0px;
      .ws--thumbnail-list {
        padding-left: 0px;
        top: 0px;
        list-style: none;
        .ws--thumbnail-item {
          margin-bottom: 20px;
          cursor: pointer;
          &.active {
            border: 1px solid var(--border-color);
          }
        }
      }
    }
    .ws--slider-media {
      &.ws--carousel-media {
        .ws--slider-list {
          .ws--slider-item {
            &:not(.active) {
              display: none;
            }
          }
        }
      }
      margin-left: auto;
      margin-right: auto;
      flex: 1 0 auto;
      .ws--slider-list {
        @include devices(desktop) {
          padding-left: 40px;
        }
        position: relative;
        width: 100%;
        list-style: none;
        .ws--slider-item {
          margin-bottom: 25px;
          .ws--fslight-box {
            &:hover {
              cursor: var(--cursor-zoom-in-svg) 18 18, zoom-in;
              cursor: -webkit-image-set(
                  var(--cursor-zoom-in-svg) 1x,
                  var(--cursor-zoom-in-2x-svg) 2x
                ),
                zoom-in;
            }
          }
        }
      }
    }
    .ws--slider-mobile-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 24px 44px 24px;
      .ws--slider-dot {
        vertical-align: middle;
      }
      .ws--nav-arrow {
        &.ws--nav-arrow-previous {
          margin-right: 24px;
        }
        &.ws--nav-arrow-next {
          margin-left: 24px;
        }
        svg {
          display: block;
          width: 6px;
          height: 9px;
        }
      }
      .ws--slider-dots {
        padding: 0;
        margin: 22px 0 0;
        list-style: none;
        text-align: center;
        display: inline-block;
        margin-top: 0;
        width: auto;
        .ws--slider-dot {
          position: relative;
          display: inline-block;
          width: 9px;
          height: 9px;
          margin: 0 6px;
          border-radius: 50%;
          cursor: pointer;
          background: transparent;
          border: 1px solid var(--border-color);
          transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
          &::before {
            position: absolute;
            content: "";
            top: -6px;
            right: -6px;
            left: -6px;
            bottom: -6px;
          }
          &.is-selected {
            background: currentColor;
            border-color: currentColor;
          }
        }
      }
    }
  }
  .ws--product-info {
    & > * + * {
      margin: 1.5rem 0;
    }
    font-size: 14px;
    color: var(--text-color);
    letter-spacing: 3px;
    margin-bottom: 30px;
    padding-left: 4rem;
    &:first-child {
      margin-top: 0;
    }
    .ws--product-text {
      margin-bottom: 5px;
      &.ws--product-text-uppercase {
        font-size: 1rem;
        letter-spacing: 0.13rem;
        line-height: calc(1 + 0.2 / 1);
        text-transform: uppercase;
      }
      &.ws--product-subtitle {
        font-size: 1.8rem;
        line-height: calc(1 + 0.8 / 1);
        letter-spacing: 0.06rem;
      }
    }
    .ws--product-title {
      font-size: 25px;
      font-weight: 500;
      letter-spacing: 4px;
      text-transform: uppercase;
      margin: 0;
    }
    .ws--product-sku {
      margin-top: 5px;
    }
    .ws--product-tax {
      &.rte {
        font-size: 13px;
        letter-spacing: 2px;
        margin-top: 5px;
      }
    }
    .ws--product-description {
      margin: 2.5rem 0;
      text-align: left;
    }
    .ws--product-form-quantity {
      margin: 10px 0px;
      label {
        margin-bottom: 5px;
      }
    }
    .ws--product-social-share {
      display: inline-flex;
      align-items: center;
      margin: 18px 0 10px;
      .ws--product-social-share-list {
        .ws--product-social-share-item {
          display: inline-block;
          margin: 0 7px;
        }
      }
    }
    .ws--product-form-input {
      flex: 0 0 100%;
      padding: 0;
      margin: 0 0 1.2rem;
      max-width: 37rem;
      min-width: fit-content;
      border: none;
      .ws--product-form-label {
        display: block;
        margin-bottom: 0.2rem;
        padding-left: 0;
      }
    }
    variant-radios {
      display: block;
      .ws--product-form-input {
        input[type="radio"] {
          clip: rect(0, 0, 0, 0);
          overflow: hidden;
          position: absolute;
          height: 1px;
          width: 1px;
          + label {
            border: 1px solid var(--text-color);
            background-color: transparent;
            color: var(--text-color);
            border-radius: 40px;
            display: inline-block;
            margin: 0.7rem 0.5rem 0.2rem 0;
            padding: 1rem 2rem;
            font-size: 1.4rem;
            letter-spacing: 0.1rem;
            line-height: 1;
            text-align: center;
            transition: border 0.1s ease;
            cursor: pointer;
            position: relative;
            &:hover {
              border-color: var(--text-color);
            }
          }
          &:checked + label {
            background-color: var(--text-color);
            color: #fff;
          }
        }
      }
    }
    variant-selects {
      display: block;
      .ws--product-form-input {
        &.ws--product-form-input-dropdown {
          margin-bottom: 1.6rem;
          .ws--product-select {
            max-width: 40rem;
            display: flex;
            position: relative;
            width: 100%;
            &::before {
              pointer-events: none;
              content: "";
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              border-radius: 0px;
              border: 0.1rem solid var(--text-color);
              z-index: -1;
            }
            &::after {
              pointer-events: none;
              content: "";
              position: absolute;
              border: 0.1rem solid transparent;
              top: 1px;
              right: 1px;
              bottom: 1px;
              left: 1px;
              border-radius: 0px;
              box-shadow: 0 0 0 1 var(--text-color);
              transition: box-shadow 0.1s ease;
              z-index: 1;
            }
            .ws--product-select-select {
              cursor: pointer;
              line-height: calc(1 + 0.6 / 1);
              padding: 0 2rem;
              margin: 1px;
              min-height: calc(1px * 2);
              font-size: 1.2rem;
              -webkit-appearance: none;
              appearance: none;
              background-color: transparent;
              color: var(--text-color);
              font-size: 1.6rem;
              width: 100%;
              box-sizing: border-box;
              transition: box-shadow 0.1s ease;
              border-radius: 0px;
              height: 4.5rem;
              min-height: calc(1px * 2);
              min-width: calc(7rem + (1px * 2));
              position: relative;
              border: 0;
              &:focus {
                outline: 0;
              }
            }
            .ws--icon-arrow-bottom {
              height: 0.6rem;
              pointer-events: none;
              position: absolute;
              top: calc(50% - 0.2rem);
              right: calc(1px + 1.5rem);
            }
          }
        }
      }
    }
    .ws--buy-buttons {
      .product-form {
        .ws--product-form-submit {
          &.loading {
            color: transparent;
            position: relative;
            span {
              position: absolute;
            }
          }
        }
      }
    }
  }
}
