/**
 * ----------------------------------------------------------------------------
 * Search Page CSS Start
 * ----------------------------------------------------------------------------
 */
.ws--search-page {
  .ws--search-form-section {
    display: block !important;
    margin: 2rem auto 3.5rem;
    max-width: 47.8rem;
    .ws--form {
      .ws--form-item {
        &.ws--postion-relative {
          .ws--form-item-absolute {
            position: absolute !important;
            top: 1px !important;
            right: 10px !important;
            font-size: 22px !important;
          }
        }
      }
    }
  }
  input {
    &::placeholder {
      font-size: 15px;
      letter-spacing: 1px;
      color: var(--text-color-light);
    }
  }
}
