<div class="ws--password-footer">
    {%- capture shopify_link -%}
        <a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">
            {%- render 'icon' with 'shopify-logo' -%}
        </a>
    {%- endcapture -%}
    {% render 'social-media' %}
    <div class="ws--password-powered-by ws--heading ws--h8">
        {{ 'general.password.powered_by_html' | t: shopify_link: shopify_link }}
    </div>
    <div class="ws--password-admin-link ws--heading ws--h8">
        <span>{{ 'general.password.login_title' | t }}</span>
        <span><a href="/admin" class="ws--link ws--link-underline">{{ 'general.password.login_link' | t }}</a></span>
    </div>
</div>

{% schema %}
{
  "name": "Password footer"
}
{% endschema %}