<div class="ws--empty-state">
    <div class="ws--container">
      <h1 class="ws--empty-state-title ws--heading ws--h1">{{ '404.general.title' | t }}</h1>
      <p class="ws--empty-state-description ws--text-light">{{ '404.general.content' | t }}</p>
      <a href="{{ routes.root_url }}" class="ws--empty-state-action ws--btn ws--btn-primary">{{ '404.general.button' | t }}</a>
    </div>
</div>